<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="home-container">
    <h1>Welcome to My Therapist Directory</h1>
    <h2>Connecting you with trusted therapists</h2>
    <div class="header-image">
      <img src="https://www.journeyclinical.com/wp-content/uploads/2022/12/membership-3-500x0-c-default.jpg" alt="Therapists Directory Image">
    </div>
    <%= link_to 'Find Therapists', therapists_path, class: 'btn' %>

    <br><br>
    <br><br>

    <a href="https://github.com/graphcs/TherapistDirectory" target="_blank" rel="noopener" class="github-link">
      We're open source! Find us on GitHub
    </a>
  </div>
</body>
</html>
