<div class="home-container">
  <h1>Welcome to Therapists Directory</h1>
  <h2>Connecting you with trusted therapists near you</h2>
  <%= link_to 'Find Therapists', therapists_path, class: 'btn btn-primary', style:"background-color: #9a4f9f" %>

  <br><br>
  <a href="https://github.com/graphcs/TherapistDirectory" target="_blank" rel="noopener" class="btn btn-primary" style= "background-color: #9a4f9f">
    <i class="fab fa-github"> Github Link</i>
  </a>
</div>
