body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e5d7f0; /* Updated background color */
  color: black; /* Text color */
}

.home-container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 2.5em;
  color: #330066; /* Very dark purple color for h1 */
}

h2 {
  color: #330066; /* Same very dark purple color for h2 */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9a4f9f; /* Updated background color */
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #b368c2; /* Hover effect */
}

.btn:hover, .btn-primary:hover, input[type=submit].btn:hover, input[type=submit].btn-primary:hover {
  background-color: #b368c2; /* Adjust color to desired hover effect */
  /* Other hover styles */
}

.github-link {
  color: #9a4f9f; /* Styling for GitHub link */
  text-decoration: none;
}

.therapists-container {
  max-width: 800px;
  margin: 50px auto;
}

.center-heading {
  text-align: center;
  margin-bottom: 20px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .form-group {
    margin-right: 10px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      width: 150px;
      padding: 5px;
    }
  }

  .btn {
    padding: 8px 15px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 19px;
  }

  .btn-secondary, input[type=submit].btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 19px;
  }
  
  .btn-secondary:hover, input[type=submit].btn-secondary:hover {
    background-color: #7c858d; /* Lighter shade for hover effect */
  }  

}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #5e2a84; /* Dark purple border */
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #9a4f9f;
  color: #fff;
}

.header-image {
  text-align: center;
  margin-bottom: 20px;
}

.header-image img {
  max-width: 100%;
  height: auto;
  border-radius: 100px; /* Increased border-radius */
  padding: 5px; /* Padding for the pseudo-border */
  background: linear-gradient(45deg, rgba(229, 215, 240, 1), rgba(229, 215, 240, 0.6), transparent); /* Gradient blend */
  box-shadow: 0 0 15px 5px rgba(229, 215, 240, 0.3); /* Soft shadow for blending */
}
